body {
  color: green;
  font-family: arial;
  background-color: orange;
}
div {
   min-height: center;
   width: 100vw;
}
h1,h2{
  text-align: center;
}
h1{
  font-size: 5em;
}
img{
  display: flex;
  padding: 20px;
  margin: 0 auto;
}
p{
  width: 40%;
  margin:10vh 10vw;
  font-size: 2em
}
a{
  colour: rgb(0,0,0);
}
